@use "../../scss/" as *;

.movie-list {
  padding: $space-6 0;
  position: relative;

  .slick-slide {
    padding: 0 $space-3;
  }
  
  .slick-dots {
    bottom: -50px;
    
    li button:before {
      color: $main-color;
      font-size: 12px;
      opacity: 0.5;
    }
    
    li.slick-active button:before {
      opacity: 1;
      color: $accent-color;
    }
  }
}

.movie-list {
  .slick-prev:before,
  .slick-next:before {
    color: $main-color !important;
    font-size: 24px !important;
    opacity: 0.8 !important;
  }

  .slick-prev,
  .slick-next {
    z-index: 2;
    
    &:hover:before {
      opacity: 1 !important;
      color: $accent-color !important;
    }
  }

  .slick-next {
    @include mobile {
      right: -10px !important;
      width: 32px !important;
      height: 32px !important;
      
      &:before {
        font-size: 18px !important;
        line-height: 32px !important;
      }
    }
    @include tablet {
      right: -20px !important;
    }
  }

  .slick-prev {
    @include mobile {
      left: -10px !important;
      width: 32px !important;
      height: 32px !important;
      
      &:before {
        font-size: 18px !important;
        line-height: 32px !important;
      }
    }
    @include tablet {
      left: -20px !important;
    }
  }
}
