@use "../../scss/" as *;

.loading-container {
    @include flex(center, center);
    flex-direction: column;
    padding: $space-16 $space-4;
    
    &.small {
        padding: $space-8 $space-4;
        
        .loading-spinner {
            width: 40px;
            height: 40px;
        }
        
        .loading-text {
            font-size: 0.9rem;
        }
    }
    
    &.large {
        padding: $space-24 $space-4;
        min-height: 50vh;
        
        .loading-spinner {
            width: 80px;
            height: 80px;
        }
        
        .loading-text {
            font-size: 1.2rem;
        }
    }
}

.loading-spinner {
    position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: $space-4;
}

.spinner-ring {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    
    &:nth-child(1) {
        border-top-color: $main-color;
        animation-delay: 0s;
    }
    
    &:nth-child(2) {
        border-right-color: $accent-color;
        animation-delay: -0.5s;
        animation-duration: 1.5s;
    }
    
    &:nth-child(3) {
        border-bottom-color: $accent-secondary;
        animation-delay: -1s;
        animation-duration: 1s;
    }
}

.loading-text {
    color: $txt-secondary;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    opacity: 0.8;
    animation: pulse 2s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0%, 100% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.4;
    }
}