@use "../../scss/" as *;

.animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.floating-shapes {
    position: relative;
    width: 100%;
    height: 100%;
}

.shape {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(0, 212, 255, 0.1), rgba(255, 107, 107, 0.1));
    animation: float 20s infinite linear;
    
    &-1 {
        width: 80px;
        height: 80px;
        top: 10%;
        left: 10%;
        animation-delay: 0s;
        animation-duration: 25s;
    }
    
    &-2 {
        width: 120px;
        height: 120px;
        top: 20%;
        right: 15%;
        animation-delay: -5s;
        animation-duration: 30s;
    }
    
    &-3 {
        width: 60px;
        height: 60px;
        bottom: 30%;
        left: 20%;
        animation-delay: -10s;
        animation-duration: 20s;
    }
    
    &-4 {
        width: 100px;
        height: 100px;
        bottom: 20%;
        right: 25%;
        animation-delay: -15s;
        animation-duration: 35s;
    }
    
    &-5 {
        width: 40px;
        height: 40px;
        top: 60%;
        left: 50%;
        animation-delay: -8s;
        animation-duration: 18s;
    }
    
    &-6 {
        width: 90px;
        height: 90px;
        top: 80%;
        right: 40%;
        animation-delay: -12s;
        animation-duration: 28s;
    }
}

@keyframes float {
    0% {
        transform: translateY(0px) rotate(0deg);
        opacity: 0.3;
    }
    50% {
        transform: translateY(-100px) rotate(180deg);
        opacity: 0.1;
    }
    100% {
        transform: translateY(0px) rotate(360deg);
        opacity: 0.3;
    }
}